 h7{
    color: rgb(232, 1, 182);
    font-size: 3rem;
    background-color: rgb(255, 235, 254);
    border-radius: 12px;
    border-style: double;
    box-shadow: 5px 0 0px 2px rgba(0,0,0,0.1);
    width: 120px;
    justify-content: center;
    align-items: center;

}

img{
    justify-content: center;
    width: 400px;
}

