body {
    background-size: 400% 400%;
    animation: gradientBG 12s ease infinite;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fbedfc;
  }

#form {
    background-image: url('pink.jpg');
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 254, 254, 0.3);
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#signup {
    width: 100%;
    padding: 12px 20px;
    background-color: #ff8de4;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#signup:hover {
    background-color: #fe8f8f;
    transform: scale(1.02);
}

input[type="text"],
input[type="password"] {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 300px;
    font-size: 15px;
    background-color: #fff;
    transition: all 0.3s ease;
    margin: auto;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #f8bbbb;
    box-shadow: 0 0 8px rgba(255, 111, 145, 0.3);
    outline: none;
}

.terms {
    margin-bottom: 15px;
}

.login {
    text-align: center;
}

.login a {
    color: #017cff;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}
